<!DOCTYPE html>
<html lang="eng-us">

<head>
    <meta charset="utf-8">
    <title>Gamespot Scraper</title>
    {{!-- css/bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{!-- javascript/jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/javascript/app.js"></script>
</head>

<body>

    {{{body}}}

</body>

</html>