<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gamespot News Scraper</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="scrapeBtn">Scrape New Articles</button>
    </div>
</nav>
<br>
<div id="article-display">
    <ul id="article-list">

    </ul>
</div>